
.sidebar {
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar h4 {
    font-weight: bold;
    margin-bottom: 20px;
}
.custom-list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.custom-list-group li {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.custom-list-group li i {
    font-size: 20px;
    margin-right: 10px;
    color: #6c757d;
}
/* Xóa hiệu ứng mặc định của thẻ a */
.custom-list-group li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
}
.custom-list-group li:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px;
    border-radius: 10px;
}
.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.card-icon {
    font-size: 3.5rem;
    color: white;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.card-body div {
    text-align: right;
    flex: 1;
}
.card-body div h3 {
    margin: 0;
    font-size: 3rem;
}
.card-body div p {
    margin: 0;
    font-size: 1.2rem;
}
.card-footer {
    background-color: #F4F4F4;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Màu chữ cho từng loại card */
.card.bg-primary .card-footer {
    color: #0D6EFD; /* Màu chữ trắng cho card có nền màu primary */
}

.card.bg-success .card-footer {
    color: #198754; /* Màu chữ trắng cho card có nền màu success */
}

.card.bg-warning .card-footer {
    color: #FFC107; /* Màu chữ đen cho card có nền màu warning */
}

.card.bg-danger .card-footer {
    color: #DC3545; /* Màu chữ trắng cho card có nền màu danger */
}

