<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/layout::head">
    <meta charset="UTF-8">
    <title>Trang quản trị</title>
</head>
<body>
<div th:insert="fragments/layout::admin-header"></div>

<div class="container">
    <h2 class="mt-5">Trang quản trị</h2>
    <div class="row mt-3">

        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <i class="fas fa-trophy card-icon"></i>
                    <div>
                        <h3>0</h3>
                        <p>Sản phẩm</p>
                    </div>
                </div>
                <div class="card-footer">
                    <span>Thêm nhanh</span>
                    <i class="fas fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <i class="fas fa-shopping-cart card-icon"></i>
                    <div>
                        <h3 th:text="${billCounter}"></h3>
                        <p>Đơn hàng</p>
                    </div>
                </div>
                <a th:href="@{/admin/bill}" class="card-link text-decoration-none">
                    <div class="card-footer">
                        <span>Xem</span>
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <i class="fas fa-user card-icon"></i>
                    <div>
                        <h3 th:text="${accountCounter}"></h3>
                        <p>Tài khoản</p>
                    </div>
                </div>
                <a th:href="@{/admin/account}" class="card-link text-decoration-none">
                    <div class="card-footer">
                        <span>Xem</span>
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <i class="fas fa-thumbs-up card-icon"></i>
                    <div>
                        <h3>0</h3>
                        <p>Phản hồi</p>
                    </div>
                </div>
                <div class="card-footer">
                    <span>Xem</span>
                    <i class="fas fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>

    </div>
    <h2 class="mt-5">HÓA ĐƠN ĐANG CHỜ ĐỂ XỬ LÝ</h2>
    <div class="row mt-3">
        <div th:if="${pendingBills.size() == 0}" class="w-100 py-3 text-center uppercase text-success font-weight-bold py-3 border-top border-bottom">
            <h5>
                TẤT CẢ HÓA ĐƠN ĐỀU ĐÃ ĐƯỢC XỬ LÝ ✔
            </h5>
        </div>
        <table class="table table-hover table-bordered"  th:if="${pendingBills.size() > 0}">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Ngày giao dịch</th>
                <th class="text-center">Tên khách hàng</th>
                <th class="text-center">Ghi chú</th>
                <th class="text-center">Giá trị đơn hàng</th>
                <th class="text-center">Thao tác</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bill, index : ${pendingBills}">
                <td class="text-center" th:text="${index.count}"></td>
                <td class="text-center" th:text="${#temporals.format(bill.created_at, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td class="" th:text="${bill.name}"></td>
                <td th:class="${bill.note.isEmpty()?'text-center':''}">
                    <span th:if="${bill.note.isEmpty()}">Không có ghi chú</span>
                    <span th:if="${!bill.note.isEmpty()}" th:text="${bill.note}"></span>
                </td>
                <td class="text-end" th:text="${#numbers.formatInteger(bill.totalBill, 3, 'COMMA')} + '₫'"></td>
                <td class="d-flex justify-content-center">
                    <form th:action="@{/admin/bill/change-status}" method="post" class="me-1">
                        <input type="hidden" name="id" th:value="${bill.id}">
                        <input type="hidden" name="status" th:value=1>
                        <button type="submit" class="btn btn-success">Xác nhận</button>
                    </form>
                    <form th:action="@{/admin/bill/change-status}" method="post" class="ms-1">
                        <input type="hidden" name="id" th:value="${bill.id}">
                        <input type="hidden" name="status" th:value=2>
                        <button type="submit" class="btn btn-danger">Từ chối</button>
                    </form>
                </td>
                <td class="text-center">
                    <a th:href="@{/admin/bill/{id}(id=${bill.id})}">Xem</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Remove duplicate jQuery version -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
