<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/layout::head">
    <title>Product List</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .btn {
            margin: 0 2px;
        }

        .pagination {
            justify-content: center;
        }
    </style>
</head>
<body>
<div th:insert="/fragments/layout::header"></div>
<div class="container-fluid d-flex justify-content-center position-relative">
    <div class="w-100">
        <div class="py-3 w-100 text-center">
            <h3>Danh sách sản phẩm</h3>
        </div>

        <div class="py-3 w-100 d-flex justify-content-between">
            <a th:href="@{/admin/product/add}" class="btn btn-success">Thêm sản phẩm</a>
            <form th:action="@{#}" method="get" class="d-flex justify-content-center">
                <div class="input-group w-auto">
                    <input type="text" name="productName" id="productName" class="form-control" placeholder="Tìm kiếm sản phẩm">
                    <button type="submit" class="btn btn-primary input-group-append">Tìm kiếm</button>
                </div>
            </form>
        </div>


        <table id="table" class="table-hover w-100" border="1">
            <thead class="bg-warning">
            <tr>
                <th width="5%" class="p-2 text-center">ID</th>
                <th width="20%" class="p-2 text-center">Tên sản phẩm</th>
                <th width="30%" class="p-2 text-center">Mô tả</th>
                <th width="10%" class="p-2 text-center">Giá</th>
                <th width="15%" class="p-2 text-center">Ảnh</th>
                <th width="10%" class="p-2 text-center">Danh mục</th>
                <th width="10%" class="p-2 text-center">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td class="p-2 text-center" th:text="${product.id}"></td>
                <td class="p-2" th:text="${product.name}"></td>
                <td class="p-2" th:text="${product.description}"></td>
                <td class="p-2 text-center" th:text="${product.price} + ' VND'"></td>
                <td class="p-2 text-center">
                    <img th:src="@{${product.image}}" alt="Product Image" style="max-width: 100px; height: auto;">
                </td>
                <td class="p-2 text-center" th:text="${product.category.name}"></td>
                <td class="p-2 text-center">
                    <a th:href="@{/admin/product/edit/{id}(id=${product.id})}" class="btn btn-warning">Sửa</a>
                    <form th:action="@{/admin/product/delete}" method="post" style="display: inline;">
                        <input type="hidden" name="id" th:value="${product.id}">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="py-3">
            <ul class="pagination">
                <li class="page-item" th:classappend="${page.currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/product-list(page=${page.currentPage - 1})}">Trước</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, page.totalPages)}" th:classappend="${i == page.currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/admin/product-list(page=${i})}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${page.currentPage == page.totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/product-list(page=${page.currentPage + 1})}">Sau</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
