<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <title>Tìm kiếm: </title>
    <link href="https&#x3A;&#x2F;&#x2F;pos.nvncdn.com&#x2F;cba2a3-7534&#x2F;store&#x2F;20150815_B1QOM5WqfXC02n3BPvlk82Z0.png" rel="icon" type="image&#x2F;vnd.microsoft.icon">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=2" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/Trangchu.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241031_112511" defer></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async></script>
    <style>
        .product-items {
            position: relative;
            width: 150px;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }
        .images img {
            width: 100%;
            transition: transform 0.3s ease-in-out;
        }
        .hidden-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            background: rgba(82, 137, 170, 0.63);
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            padding: 5px;
            box-sizing: border-box;
        }
        .product-items.zoom .images img {
            transform: scale(1.5);
        }
        .product-items.zoom .hidden-text {
            display: flex;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="header-top">
        <div class="col text-right">
            <p>
                <span style="font-size:20px;">
                    <a href="/he-thong-cua-hang">THÔNG TIN CỬA HÀNG</a>
                </span>
            </p>
        </div>
    </div>
    <div class="header-content top">
        <div class="container">
            <div class="row align-center">
                <div class="head-col-left col-lg-3 col-12">
                    <a href="/" class="logo">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH0Oa__wY2oVzrLcdA0z-BVW0FTpp9ZU5-mw&s" alt="Logo">
                    </a>
                </div>
                <div class="head-col-center col-lg-6 d-none d-lg-block">
                    <form class="form-search" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Tìm kiếm sản phẩm">
                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-blue"><b class="bi-search"></b></button>
                                    </span>
                        </div>
                    </form>
                    <div class="research d-lg-block">
                        <p>
                            <a href="/search?q=Capybara">
                                <span>Mô hình RESIN</span>
                            </a>
                            <span></span>
                            <a href="/giang-sinh-pc250722.html">
                                <span>Mô hình GUNDAM</span>
                            </a>
                            <span></span>
                            <a href="/blindbox-pc565467.html">
                                <span>Mô hình PVC</span>
                            </a>
                            <span></span>
                            <a href="/search?q=%C4%90%C3%A8n+ng%E1%BB%A7">
                                <span>Đơn hàng trước</span>
                            </a>

                        </p>
                    </div>
                </div>
                <div class="head-col-right col-lg-3 col-12">
                    <div class="header-right d-flex align-items-start">
                        <ul class="header-user d-none d-md-block">
                            <li>
                                <a href="/user/signin">Đăng nhập |</a>
                            </li>
                            <li>
                                <a href="/user/signup">Đăng ký</a>
                            </li>
                        </ul>

                        <div class="count-cart" title="Giỏ hàng">
                            <div class="count-cart-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="count d-flex align-items-center justify-content-center">0</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

<main class="mains blk-pro-cat sty-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 js-fil-bar">
                <div class="filter-groups">
                    <div class="filter-title">
                        <h5 style="color: #8689d5;">GIÁ</h5>
                    </div>
                    <div class="widget_price_filter">
                        Từ <span id="price_form" data-size="0">0đ</span>
                        :
                        <span id="price_to" data-size="500000" data-max="500000">500,000đ</span>
                        <div id="slider-range"></div>

                    </div>
                    <div class="filter-title">
                        <h5 style="color: #8689d5;">VIDEO</h5>
                    </div>
                    <div> <iframe width="250" height="200" src="https://www.youtube.com/embed/8H0JARo8NCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="d-pro-head">
                    <h5 style="color:#5d79b5">Tìm kiếm: </h5>
                    <select onchange="window.location.href = this.value" class="form-control d-none d-xl-block">
                        <option value="/search?q=&show=">Mới nhất</option>
                        <option value="/search?q=&show=priceAsc">Giá tăng dần</option>
                        <option value="/search?q=&show=priceDesc">Giá giảm dần</option>
                        <option value="/search?q=&show=discount">Sale</option>
                    </select>
                </div>
                <div class="product-list">
                    <div class="row">
                        <div class="product-item itemPrd37922850 item37922850 col-lg-3 col-md-4 col-6 col-xxs-12" data-type="1" data-psId="37922850">
                            <div class="image">
                                <span class="flag">New</span>
                                <a href="/bo-thuoc-ke-chiikawa-cosplay-sinh-vat-bien-15cm-p37922850.html" title="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">
                                    <img data-sizes="auto" class="lazyload" src="https://jola.vn/cdn/720/Product/d13huwOqL/o1cn017lokxu2ltrk35ydye-2211283779693-0-cib.jpg" alt="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">
                                </a>
                                <div class="product-action d-flex align-center justify-content-center">
                                    <div class="wish" data-psId="37922850">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <div class="js-add-cart" data-psId="37922850" data-root="-2">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <h3 class="name">
                                <a href="/bo-thuoc-ke-chiikawa-cosplay-sinh-vat-bien-15cm-p37922850.html" title="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm                                        </a>
                            </h3>
                            <div class="product-price">
                                <span class="price">30.000đ</span>
                            </div>
                        </div>
                        <div class="product-item itemPrd37922932 item37922932 col-lg-3 col-md-4 col-6 col-xxs-12" data-type="1" data-psId="37922932">
                            <div class="image">
                                <span class="flag">New</span>
                                <a href="/moc-khoa-nhoi-bong-basic-baby-bear-dung-1-mau-long-xoan-p37922932.html" title="Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn">
                                    <img data-sizes="auto" class="lazyload" src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3" data-src="https://pos.nvncdn.com/cba2a3-7534/ps/20241107_R0okRP0Sph.jpeg" alt="Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn">
                                </a>
                                <div class="product-action d-flex align-center justify-content-center">
                                    <div class="wish" data-psId="37922850">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <div class="js-add-cart" data-psId="37922850" data-root="-2">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <h3 class="name">
                                <a href="/moc-khoa-nhoi-bong-basic-baby-bear-dung-1-mau-long-xoan-p37922932.html" title="Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn">Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn                                        </a>
                            </h3>
                            <div class="product-price">
                                <span class="price">70.000đ</span>
                            </div>
                        </div>
                        <div class="product-item itemPrd37922724 item37922724 col-lg-3 col-md-4 col-6 col-xxs-12" data-type="1" data-psId="37922724">
                            <div class="image">
                                <span class="flag">New</span>
                                <a href="/qua-cau-tuyet-xmas-sanrio-family-cay-thong-goi-qua-co-den-nhac-8x13-p37922724.html" title="Quả cầu tuyết Xmas Sanrio family cây thông gói quà có đèn nhạc 8x13">
                                    <img data-sizes="auto" class="lazyload" src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3" data-src="https://pos.nvncdn.com/cba2a3-7534/ps/20241107_jJ3mICQGQh.jpeg" alt="Quả cầu tuyết Xmas Sanrio family cây thông gói quà có đèn nhạc 8x13">
                                </a>
                                <div class="product-action d-flex align-center justify-content-center">
                                    <div class="wish" data-psId="37922850">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <div class="js-add-cart" data-psId="37922850" data-root="-2">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <h3 class="name">
                                <a href="/qua-cau-tuyet-xmas-sanrio-family-cay-thong-goi-qua-co-den-nhac-8x13-p37922724.html" title="Quả cầu tuyết Xmas Sanrio family cây thông gói quà có đèn nhạc 8x13">Quả cầu tuyết Xmas Sanrio family cây thông gói quà có đèn nhạc 8x13                                        </a>
                            </h3>
                            <div class="product-price">
                                <span class="price">160.000đ</span>
                            </div>
                        </div>
                        <div class="product-item itemPrd37922932 item37922932 col-lg-3 col-md-4 col-6 col-xxs-12" data-type="1" data-psId="37922932">
                            <div class="image">
                                <span class="flag">New</span>
                                <a href="/moc-khoa-nhoi-bong-basic-baby-bear-dung-1-mau-long-xoan-p37922932.html" title="Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn">
                                    <img data-sizes="auto" class="lazyload" src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3" data-src="https://pos.nvncdn.com/cba2a3-7534/ps/20241107_R0okRP0Sph.jpeg" alt="Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn">
                                </a>
                                <div class="product-action d-flex align-center justify-content-center">
                                    <div class="wish" data-psId="37922850">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <div class="js-add-cart" data-psId="37922850" data-root="-2">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <h3 class="name">
                                <a href="/moc-khoa-nhoi-bong-basic-baby-bear-dung-1-mau-long-xoan-p37922932.html" title="Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn">Móc khóa nhồi bông Basic baby bear đứng 1 màu lông xoắn                                        </a>
                            </h3>
                            <div class="product-price">
                                <span class="price">70.000đ</span>
                            </div>
                        </div>
                    </div>

                    <div></div>

                    <div class="d-pro-head">
                        <h5 style="color:#5d79b5;">Bộ sưu tập</h5>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            <div class="product-items itemPrd37922932 item37922932 col-lg-3 col-md-4 col-6 col-xxs-12" data-type="1" data-psId="37922932">
                                <div class="images">
                                    <a href="javascript:void(0);" title="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">
                                        <img data-sizes="auto" class="lazyload" src="https://jola.vn/cdn/720/Product/d13huwOqL/o1cn017lokxu2ltrk35ydye-2211283779693-0-cib.jpg" alt="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">
                                    </a>
                                    <div class="hidden-text" id="hiddenText">
                                        Mô hình One Piece
                                    </div>
                                </div>
                            </div>
                            <div class="product-items itemPrd37922932 item37922932 col-lg-3 col-md-4 col-6 col-xxs-12" data-type="1" data-psId="37922932">
                                <div class="images">
                                    <a href="javascript:void(0);" title="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">
                                        <img data-sizes="auto" class="lazyload" src="https://jola.vn/cdn/720/Product/d13huwOqL/o1cn017lokxu2ltrk35ydye-2211283779693-0-cib.jpg" alt="Bộ thước kẻ Chiikawa cosplay sinh vật biển 15cm">
                                    </a>
                                    <div class="hidden-text" id="hiddenText1">
                                        Mô hình Your Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="d-block full">
                    <ul class="pagination justify-content-center">
                        <li class="page-item " data-pr="1">
                            <a class="page-link">1</a>
                        </li>
                        <li class="page-item" data-pr="2">
                            <a class="page-link" href="/search?q=&page=2">2</a>
                        </li>
                        <li class="page-item" data-pr="3">
                            <a class="page-link" href="/search?q=&page=3">3</a>
                        </li>
                        <li class="page-item" data-pr="4">
                            <a class="page-link" href="/search?q=&page=4">4</a>
                        </li>
                        <li class="page-item" data-pr="5">
                            <a class="page-link" href="/search?q=&page=5">5</a>
                        </li>
                        <li class="page-item round" data-pr="2">
                            <a class="page-link" href="/search?q=&page=2">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<script>
    const productItems = document.querySelectorAll('.product-items');

    productItems.forEach(productItem => {
        const imageLink = productItem.querySelector('.images a');
        const hiddenText = productItem.querySelector('.hidden-text');

        // Thêm sự kiện click vào mỗi phần tử hình ảnh
        imageLink.addEventListener('click', (event) => {
            event.stopPropagation();
            productItems.forEach(item => {
                if (item !== productItem) {
                    item.classList.remove('zoom');
                }
            });
            productItem.classList.toggle('zoom');
        });
    });

    // Thêm sự kiện click vào tài liệu để ẩn chữ khi click ra ngoài
    document.addEventListener('click', () => {
        productItems.forEach(productItem => {
            productItem.classList.remove('zoom');
        });
    });
</script>
</body>
<html>