<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page: </title>
    <link href="https://img.pikbest.com/png-images/20240501/spirited-mothers-day-holiday-wishes-222024-png-images-png_10542277.png!w700wp" rel="icon" type="image/png">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=2" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/home-page.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241031_112511" defer></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>
<body>
<header class="header">
    <div class="header-top">
        <div class="col text-right">
            <p>
                <span style="font-size:20px;">
                    <a href="/he-thong-cua-hang">THÔNG TIN CỬA HÀNG</a>
                </span>
            </p>
        </div>
    </div>
    <div class="header-content top">
        <div class="container">
            <div class="row align-center">
                <div class="head-col-left col-lg-3 col-12">
                    <a href="/" class="logo">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH0Oa__wY2oVzrLcdA0z-BVW0FTpp9ZU5-mw&s" alt="Logo">
                    </a>
                </div>
                <div class="head-col-center col-lg-6 d-none d-lg-block">
                    <form class="form-search" th:action="@{/search}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Tìm kiếm sản phẩm">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-blue"><b class="bi-search"></b></button>
                            </span>
                        </div>
                    </form>

                    <div class="research d-lg-block">

                        <div th:replace="~{fragments/tags :: tags}"></div>
                    </div>
                </div>
                <div class="head-col-right col-lg-3 col-12">
                    <div sec:authorize="isAuthenticated()">
                        <i class="bi bi-person-circle"></i>
                        <span class="ms-2">Xin chào,
                                <span sec:authentication="principal.username"></span></span>
                        <a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
                    </div>

                    <div sec:authorize="!isAuthenticated()" class="header-right d-flex align-items-start">
                        <ul class="header-user d-none d-md-block">
                            <li>
                                <a th:href="@{/login}">Đăng nhập | </a>
                            </li>
                            <li>
                                <a th:href="@{/register-form}">Đăng ký</a>
                            </li>
                        </ul>
                        <div class="count-cart" title="Giỏ hàng" style="margin-left: 10px">
                            <div class="count-cart-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="count d-flex align-items-center justify-content-center">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mains blk-pro-cat sty-none">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 js-fil-bar">
                <div class="filter-groups">
                    <!--thanh silder search giá-->
                    <div th:replace="~{fragments/slider-price :: priceSlider}"></div>
                </div>
            </div>
            <div class="col-lg-9 col-12">

                <div class="d-pro-head">
                    <h5 style="color:#5d79b5">Tìm kiếm: </h5>
                    <select onchange="window.location.href = this.value" class="form-control d-none d-xl-block">
                        <option value="/search?q=&show=">Mới nhất</option>
                        <option value="/search?q=&show=priceAsc">Giá tăng dần</option>
                        <option value="/search?q=&show=priceDesc">Giá giảm dần</option>
                        <option value="/search?q=&show=discount">Sale</option>
                    </select>
                </div>

                <div class="product-list row">
                        <div th:each="product : ${products}" class="col-md-4">
                            <div class="card mb-4">
                                <a th:href="@{/details/{id}(id=${product.id})}" title="image">
                                    <img th:src="${product.image}" class="card-img-top" alt="image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                                    <p class="card-text price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' đ'">Price</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--thẻ footer-->
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="/js/loading-product.js"></script>
<script src="/js/slider-price.js"></script>

</body>
</html>