/* Ẩn dấu tam giác nhỏ (arrow) trong dropdown */
#userMenu::after {
    content: none !important;
}
.list-group-item {
    padding: 20px;
    font-size: 1.2em;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 15px;
}
.list-group-item .icon-container {
    font-size: 2em;
    color: #007bff;
    margin-right: 20px;
}
/**/

.stick-top{
    position: sticky;
    top: 0;
    z-index: 1020;
}
.navbar-brand img {
    max-height: 40px;
}
.navbar {
    background: linear-gradient(90deg, rgb(227, 128, 186), rgb(240, 193, 131));
    transition: background 0.2s ease;
}
.navbar:hover {
    background: linear-gradient(90deg, rgb(240, 193, 131),rgb(227, 128, 186));
}
.navbar-brand{
    font-family: 'Cinzel', serif;
    font-size: 25px;
}
/**/
footer {
    background-color: rgb(240, 193, 131);
    color: rgb(255, 255, 255);
    padding: 20px 0;
}
.footer-links a {
    color: #665252;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
footer {
    background-color: rgb(240, 193, 131);
}
.mt-5 {
    background: linear-gradient(90deg, rgb(227, 128, 186), rgb(240, 193, 131));
    transition: background 0.2s ease;
}
.mt-5:hover {
    background: linear-gradient(90deg, rgb(240, 193, 131), rgb(227, 128, 186));
}



