<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="priceSlider">
    <div class="filter-title">
        <h5 style="color: #8689d5;">GIÁ</h5>
    </div>
    <div class="widget_price_filter">
        <div id="slider-range"></div>
        <div class="price-display">
            <span id="min-price">0đ</span>
            <span id="max-price">500,000đ</span>
        </div>
    </div>
    <div class="filter-title">
        <h5 style="color: #8689d5;">VIDEO</h5>
    </div>
    <div> <iframe width="250" height="200" src="https://www.youtube.com/embed/8H0JARo8NCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
</div>
</body>
</html>